---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% assign psts = site.posts_de %}
  {% if page.language == "en" %}
    {% assign psts = site.posts_en %}
  {% endif %}

  {% if psts.size > 0 %}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
    {% assign sorted = psts | sort: 'date' | reverse %}
    {% for post in sorted  %}
        <li>

          <h3 style="padding-bottom: 0px;margin-bottom: 0px;">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          {% assign date_format = "%F" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {% assign ex = post.content | split: site.excerpt_separator %}
          {% if ex[1].size > 1 %}
            <p>{{ ex[0] }}
          {% else %}
            <p>{{ post.content | truncatewords: 70 }}
          {% endif %}
          <strong><a href="{{ post.url | relative_url }}">more</a></strong>
          </p>
        </li>
      {% endfor %}
    </ul>

    {% assign rss_url = "/feed_de.xml" %}
    {% if page.language == "en" %}
      {% assign rss_url = "/feed_en.xml" %}
    {% endif %}
    <p class="rss-subscribe">subscribe <a href="{{ rss_url | relative_url }}">via RSS</a></p>
  {% endif %}
</div>
